<%= include utils/header %>
<div class="ui vertical masthead center aligned segment">
    <div class="ui container" style="margin-top: 200px; margin-bottom: 200px;">
        <h1>Ruak Streams</h1>
        <h3>Find funny people and talk to them.</h3>
        <a class="ui olive basic button" href="/streams">Check the streams to explore the world</a>
    </div>
</div>
<%= include utils/footer %>
