<%= include utils/header %>
<div class="ui container" style="margin-top: 200px; margin-bottom: 200px;">
    <h1>Ruak Streams</h1>
    <h3>Find funny people and talk to them.</h3>
</div>
<%= include utils/footer %>