body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
  text-decoration: none;
}

table, tr, td, th {margin: 0;border: 0;padding: 5px;border-collapse: collapse;}

li {
    list-style-type: none;
    border: 2px solid #768182;
    border-radius: 5px;
    text-align: center;
    padding: 5px 5px 5px 5px;
}

li:hover {
  cursor: pointer;
  background-color: #fff0f5;
}

.localStream {
  display: block;
  top: 15px;
  right: 15px;
  float: right;
}

.localStream video {
    border: 1px solid rgb(119, 119, 119);
    outline: 0 none;
    height: 240px;
    width: 320px;
    border-radius: 5px;
}

.remoteStreams{
  display: inline-block;
  top: 15px;
  right: 15px;
  float: left;
  text-align: center;
}

.remoteStreams td:hover {
  cursor: pointer;
  background-color: #aaa;
}

.remoteStreams .selected {
  background-color: #444 !important;
  text-shadow:none;
  border-right-color: #aaa;
  border-left: none;
  border-radius: 3px 3px 3px 3px; 
  box-shadow:inset 1px 2px 6px #070707;
}

.footer {
   clear: both;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 2rem;
}
